@import url("https://fonts.googleapis.com/css?family=Lobster");
/* line 2, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
:root {
  --blue: #007eb6;
  --green: #3f504a;
}

/* line 9, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
html {
  box-sizing: border-box;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

/* line 15, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 18, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--#0000ff);
}

/* line 24, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.wrap {
  background: #eee;
  max-width: 90%;
  padding: 0.5rem;
  margin: 1rem auto;
}

/* line 30, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.wrap h1,
.wrap h2 {
  font-family: lobster;
  margin-top: 0;
}

/* line 35, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.wrap ul {
  list-style: none;
  padding: 0;
}

/* line 39, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.wrap li {
  display: flex;
  padding: 1rem;
}

/* line 43, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.wrap li img {
  width: 30%;
  height: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  margin-right: 1rem;
  background-color: #fff;
  box-shadow: 2px 2px 4px #ccc;
}

/* line 52, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.wrap li a {
  color: #7e360d;
  text-decoration: none;
}

/* line 59, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.form-wrap form {
  max-width: 620px;
  margin: 20px auto;
}

/* line 64, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.form-wrap ol {
  list-style: none;
  padding: 0;
}

/* line 68, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.form-wrap li, .form-wrap label {
  display: block;
  /* was display:flex;*/
}

/* line 71, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.form-wrap fieldset {
  border: none;
}

/* line 74, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.form-wrap legend {
  font-size: 24px;
  margin-bottom: 20px;
}

/* line 78, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.form-wrap input,
.form-wrap textarea {
  border: 1px solid #ccc;
  font-size: 20px;
  min-width: 480px;
  min-height: 30px;
  display: block;
  margin-bottom: 16px;
  margin-top: 8px;
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0.53, -0.49, 0.79, 1.59);
}

/* line 90, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.form-wrap textarea {
  min-height: 100px;
}

/* line 93, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.form-wrap *:focus {
  outline: none;
}

/* line 97, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.form-wrap input:focus,
.form-wrap textarea:focus {
  box-shadow: 0 0 25px #ccc;
  transform: scale(1.05);
}

/* line 103, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.form-wrap input:not(:focus),
.form-wrap textarea:not(:focus) {
  opacity: 0.5;
}

/* line 107, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.form-wrap input:required,
.form-wrap textarea:required {
  background: url("/assets/asterisk_orange.png") no-repeat 95% 7px;
}

/* line 112, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.form-wrap input:valid,
.form-wrap textarea:valid {
  background: url("/assets/tick.png") no-repeat 95% 5px;
}

/* line 117, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.form-wrap input:focus:invalid,
.form-wrap textarea:focus:invalid {
  background: url("/assets/cancel.png") no-repeat 95% 7px;
}

/* line 121, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.form-wrap .alert {
  color: #fff;
  background-color: red;
}

/* line 127, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.form-wrap input[type=submit] {
  color: #fff;
  padding: 10px;
  background: #007eb6;
  opacity: 1.0;
}

/* line 134, /Users/danieldeverell/Desktop/session-10/foodapp/src/temp/style.scss */
.form-wrap input[type="number"],
.form-wrap input[type="number"]:required,
.form-wrap input[type="number"]:valid,
.form-wrap input[type="number"]:focus:invalid {
  background-position: 260px 7px;
}

/*# sourceMappingURL=../sass/style.map */